.column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    background-color:#7488c9;
    width: 1000px;
    height: 200px;
    margin: 50px;
    border-radius: 20px;
}

.retangulo img {
    width: 200%;
    height: 100%;
}